src/Wsdl/wallet.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="urn:arnleadservicewsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="urn:walletservicewsdl">

    <types>
        <xsd:schema targetNamespace="urn:walletwsdl">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
        </xsd:schema>
    </types>

    <message name="rechargewalletRequest">
        <part name="identificationNumber" type="xsd:string" />
        <part name="cellphone" type="xsd:string" />
        <part name="value" type="xsd:integer" />
    </message>
     <message name="checkwalletbalanceRequest">
        <part name="identificationNumber" type="xsd:string" />
        <part name="cellphone" type="xsd:string" />
    </message>

    <message name="rechargewalletResponse">
        <part name="response" type="xsd:string" />
    </message>
    <message name="checkwalletbalanceResponse">
        <part name="response" type="xsd:string" />
    </message>

    <portType name="walletwsdlPortType">
        <operation name="rechargewallet">
            <documentation>Recharge Wallet SOAP</documentation>
            <input message="tns:rechargewalletRequest"/>
            <output message="tns:rechargewalletResponse"/>
        </operation>
        <operation name="checkwalletbalance">
            <documentation>Check Wallet Balance SOAP</documentation>
            <input message="tns:checkwalletbalanceRequest"/>
            <output message="tns:checkwalletbalanceResponse"/>
        </operation>
    </portType>

    <binding name="walletwsdlBinding" type="tns:walletwsdlPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="rechargewallet">
            <soap:operation soapAction="urn:arnleadservicewsdl#rechargewallet" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:walletwsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:walletwsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="checkwalletbalance">
            <soap:operation soapAction="urn:arnleadservicewsdl#checkwalletbalance" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:walletwsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:walletwsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="walletwsdl">
        <port name="walletwsdlPort" binding="tns:walletwsdlBinding">
            <soap:address location="http://wallet.epayco.io/soap/wallet" />
        </port>
    </service>
</definitions>